<?xml version="1.0" encoding="UTF-8"?>
<Wix
  xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
    Id="6481C32F-3805-4404-9882-1A3EEA73B102"
    Name="StealFocus Kata $(var.BuildLabelNumber)"
    Language="1033"
    Version="$(var.VersionNumber)"
    Manufacturer="StealFocus"
    UpgradeCode="2ED7F135-2706-45B7-A9AB-5396B59C3EEE">

    <Package InstallerVersion="200" Compressed="yes" />

    <Media Id="1" Cabinet="StealFocus.Kata.cab" EmbedCab="yes" />

    <!-- Per machine (1), NOT per user (2) -->
    <Property Id="ALLUSERS" Value="1" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id='MSBuild' Name='MSBuild'>
          <Directory Id='MSBuild_StealFocus' Name='StealFocus'>
            <Directory Id='MSBuild_StealFocus_Kata' Name='Kata'>
              <Directory Id='MSBuild_StealFocus_Kata_v1.0' Name='v1.0'>
                <Component Id='MSBuildScripts' Guid='{C2F7A3F1-D779-46AC-B99D-0C84482B6C3F}' KeyPath='yes'>
                  <File
                    Id='StealFocus.Kata.Build.targets'
                    Name='StealFocus.Kata.Build.targets'
                    Source='..\Artefacts\MSBuild\StealFocus.Kata.Build.targets' />
                  <File
                    Id='StealFocus.Kata.Project.Assembly.targets'
                    Name='StealFocus.Kata.Project.Assembly.targets'
                    Source='..\Artefacts\MSBuild\StealFocus.Kata.Project.Assembly.targets' />
                  <File
                    Id='StealFocus.Kata.Project.CSharp.targets'
                    Name='StealFocus.Kata.Project.CSharp.targets'
                    Source='..\Artefacts\MSBuild\StealFocus.Kata.Project.CSharp.targets' />
                  <File
                    Id='StealFocus.Kata.Project.targets'
                    Name='StealFocus.Kata.Project.targets'
                    Source='..\Artefacts\MSBuild\StealFocus.Kata.Project.targets' />
                  <File
                    Id='StealFocus.Kata.Project.VisualBasic.targets'
                    Name='StealFocus.Kata.Project.VisualBasic.targets'
                    Source='..\Artefacts\MSBuild\StealFocus.Kata.Project.VisualBasic.targets' />
                  <File
                    Id='StealFocus.Kata.Project.WiX.targets'
                    Name='StealFocus.Kata.Project.WiX.targets'
                    Source='..\Artefacts\MSBuild\StealFocus.Kata.Project.WiX.targets' />
                  <File
                    Id='StealFocus.Kata.targets'
                    Name='StealFocus.Kata.targets'
                    Source='..\Artefacts\MSBuild\StealFocus.Kata.targets' />
                </Component>
                <Directory Id='MSBuild_StealFocus_Kata_v1.0_MicrosoftSdcTasks' Name='MicrosoftSdcTasks'>
                  <Component Id='MicrosoftSdcTasks' Guid='{AAF5FB34-286E-432A-8C82-A77074ACE852}' KeyPath='yes'>
                    <File
                      Id='Installing_and_Using_the_SDC_Tasks.pdf'
                      Name='Installing and Using the SDC Tasks.pdf'
                      Source='..\Artefacts\MSBuild\MicrosoftSdcTasks\Installing and Using the SDC Tasks.pdf' />
                    <File
                      Id='Microsoft.Sdc.BizTalkOM.dll'
                      Name='Microsoft.Sdc.BizTalkOM.dll'
                      Source='..\Artefacts\MSBuild\MicrosoftSdcTasks\Microsoft.Sdc.BizTalkOM.dll' />
                    <File
                      Id='Microsoft.Sdc.Common.tasks'
                      Name='Microsoft.Sdc.Common.tasks'
                      Source='..\Artefacts\MSBuild\MicrosoftSdcTasks\Microsoft.Sdc.Common.tasks' />
                    <File
                      Id='Microsoft.Sdc.Tasks.BizTalk.dll'
                      Name='Microsoft.Sdc.Tasks.BizTalk.dll'
                      Source='..\Artefacts\MSBuild\MicrosoftSdcTasks\Microsoft.Sdc.Tasks.BizTalk.dll' />
                    <File
                      Id='Microsoft.Sdc.Tasks.BizTalk.pdb'
                      Name='Microsoft.Sdc.Tasks.BizTalk.pdb'
                      Source='..\Artefacts\MSBuild\MicrosoftSdcTasks\Microsoft.Sdc.Tasks.BizTalk.pdb' />
                    <File
                      Id='Microsoft.Sdc.Tasks.dll'
                      Name='Microsoft.Sdc.Tasks.dll'
                      Source='..\Artefacts\MSBuild\MicrosoftSdcTasks\Microsoft.Sdc.Tasks.dll' />
                    <File
                      Id='Microsoft.Sdc.Tasks.Documentation.chm'
                      Name='Microsoft.Sdc.Tasks.Documentation.chm'
                      Source='..\Artefacts\MSBuild\MicrosoftSdcTasks\Microsoft.Sdc.Tasks.Documentation.chm' />
                    <File
                      Id='Microsoft.Sdc.Tasks.pdb'
                      Name='Microsoft.Sdc.Tasks.pdb'
                      Source='..\Artefacts\MSBuild\MicrosoftSdcTasks\Microsoft.Sdc.Tasks.pdb' />
                    <File
                      Id='Summarised_Change_List_for_Release_2.1.3155.0.pdf'
                      Name='Summarised Change List for Release 2.1.3155.0.pdf'
                      Source='..\Artefacts\MSBuild\MicrosoftSdcTasks\Summarised Change List for Release 2.1.3155.0.pdf' />
                  </Component>
                </Directory>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
        <Directory Id='StealFocus' Name='StealFocus'>
          <Directory Id='StealFocus_Kata' Name='Kata'>
            <Directory Id='StealFocus_Kata_Version1.0' Name='Version 1.0'>
              <Component Id='Core' Guid='{BD36746E-A6EC-4E03-ABEF-25FA9F264441}' KeyPath='yes'>
                <!-- License file -->
                <File
                  Id='LicenseFile'
                  Name='StealFocus.Kata.License.rtf'
                  Source='..\StealFocus.Kata.License.rtf' />
              </Component>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="ProductFeature" Title="StealFocus Kata" Level="1">
      <ComponentRef Id="Core" />
      <ComponentRef Id="MSBuildScripts" />
      <ComponentRef Id="MicrosoftSdcTasks" />
    </Feature>

    <UIRef Id="WixUI_Mondo" />

    <UIRef Id="WixUI_ErrorProgressText" />

  </Product>
</Wix>
